@model ngxsis.ViewModel.PengalamanViewModel

@using (Html.BeginForm("Create", "Pengalaman", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.user_id, new { Value = Session["userID"] })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.biodata_id)
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.company_name, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.company_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.join_month, htmlAttributes: new { @class = "control-label" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.join_month,
                new List<SelectListItem> {
                    new SelectListItem { Value = "1", Text = "Januari" },
                    new SelectListItem { Value = "2", Text = "Februari" },
                    new SelectListItem { Value = "3", Text = "Maret" },
                    new SelectListItem { Value = "4", Text = "April" },
                    new SelectListItem { Value = "5", Text = "Mei" },
                    new SelectListItem { Value = "6", Text = "Juni" },
                    new SelectListItem { Value = "7", Text = "Juli" },
                    new SelectListItem { Value = "8", Text = "Agustus" },
                    new SelectListItem { Value = "9", Text = "September" },
                    new SelectListItem { Value = "10", Text = "Oktober" },
                    new SelectListItem { Value = "11", Text = "November" },
                    new SelectListItem { Value = "12", Text = "Desember" }
                },
                "- Pilih Bulan -",
                new { @class = "form-control", id = "join-month" })
                            @Html.ValidationMessageFor(model => model.join_month, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.join_year, new SelectList(Enumerable.Range(DateTime.Today.Year - 20, 21)),
                            "- Pilih Tahun -",
                            new { @class = "form-control", id = "join-year" })
                            @Html.ValidationMessageFor(model => model.join_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.resign_month, htmlAttributes: new { @class = "control-label" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.resign_month,
                new List<SelectListItem> {
                    new SelectListItem { Value = "1", Text = "Januari" },
                    new SelectListItem { Value = "2", Text = "Februari" },
                    new SelectListItem { Value = "3", Text = "Maret" },
                    new SelectListItem { Value = "4", Text = "April" },
                    new SelectListItem { Value = "5", Text = "Mei" },
                    new SelectListItem { Value = "6", Text = "Juni" },
                    new SelectListItem { Value = "7", Text = "Juli" },
                    new SelectListItem { Value = "8", Text = "Agustus" },
                    new SelectListItem { Value = "9", Text = "September" },
                    new SelectListItem { Value = "10", Text = "Oktober" },
                    new SelectListItem { Value = "11", Text = "November" },
                    new SelectListItem { Value = "12", Text = "Desember" }
                },
                "- Pilih Bulan -",
                new { @class = "form-control", disabled = "disabled", id = "resign-month" })
                            @Html.ValidationMessageFor(model => model.resign_month, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.resign_year, new SelectList(Enumerable.Range(DateTime.Today.Year - 20, 21)),
                            "- Pilih Tahun -",
                            new { @class = "form-control", disabled = "disabled", id = "resign-year" })
                            @Html.ValidationMessageFor(model => model.resign_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.last_position, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.last_position, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.last_position, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.income, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.income, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.income, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.CheckBox("is_it_related")
                            @Html.LabelFor(model => model.is_it_related, htmlAttributes: new { @class = "control-label" })
                            @Html.ValidationMessageFor(model => model.is_it_related, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.about_job, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.about_job, new { htmlAttributes = new { @class = "form-control form-notes" } })
                            @Html.ValidationMessageFor(model => model.about_job, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.exit_reason, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.exit_reason, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.exit_reason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control form-notes" } })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="btn-group col-md-offset-9">
                    <input type="button" value="Batal" class="btn btn-batal" />
                    <input type="submit" value="Simpan" class="btn btn-simpan" />
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        $("#biodata_id").val(biodata_id);
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data berhasil disimpan");
                    $(".modal-create-org").modal("hide");
                    $(".modal-pelamar").modal("show");
                    GetPengalaman();
                }
                else {
                    $("#form-create").validate();
                    //alert("Error! " + result.message);
                }
            }
        });
        return false;
    });

    $(document).ready(function () {
        $('#join-month').on('input change', function () {
            $('#resign-month').attr('disabled', false);
        });

        $('#join-month').change(function () {
            if ($(this).val() === "") {
                $("#resign-month").prop("disabled", true)
            }
        });
    })

    $(document).ready(function () {
        $('#join-year').on('input change', function () {
            $('#resign-year').attr('disabled', false);
        });

        $('#join-year').change(function () {
            if ($(this).val() === "") {
                $("#resign-year").prop("disabled", true)
            }
        });
    })

    $(".btn-batal").click(function () {
        $(".modal-create-org").modal("hide");
        $(".modal-pelamar").modal("show");
    });

    $(".close").click(function () {
        $(".modal-create-org").modal("hide");
        $(".modal-pelamar").modal("show");
    });
</script>