@model ngxsis.ViewModel.DokumenViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:100px; color:Black; text-align:center"></span>
        </dt>
        <dd>

            <font color="red"> <font size="4"> Anda yakin ingin menghapus Sertifikasi @Html.DisplayFor(model => model.file_name)? </font></font>
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Dokumen", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.file_name)

        <div class="form-actions no-color">
            <div class="col-md-offset-9">
                <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-warning" />
                <input type="submit" value="Ya" class="btn btn-danger" />
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
}

<script type="text/javascript">
  //di delete
    $("#form-delete").submit(function  (){
        $.ajax({
            url:this.action,
            type:this.method,
            data: $(this).serialize(),
            success:function(result) {
                if (result.success) {
                    alert("save successfull Name: " + result.entity.certificate_name);
                    $(".modal-delete").modal("hide");
                    GetList();
                } else {
                    alert("error" +result.message);
                }
            }
               });
    return false;
    });
</script>
