@model ngxsis.ViewModel.DokumenViewModel

<style type="text/css">
    #afoto {
        height: 150px;
        border: 3px solid #000080;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .icon-foto {
        font-size: 110px;
        color: #000080;
        text-align: center;
    }

    .form-control:focus,
    .form-control {
        border-color: #000080;
        color: #000080;
        border-width: 2px;
        height: 45px;
    }

    #img-prev {
        width: auto;
        max-width: 90%;
        max-height: 90%;
    }

    #file,
    #foto {
        height: 0px;
    }
</style>
@using(Html.BeginForm("Create","Dokumen",FormMethod.Post,new { enctype = "multipart/form-data",id = "form-edit",name = "form-edit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.id);
    @Html.HiddenFor(Model => Model.is_photo);
    @Html.HiddenFor(Model => Model.biodata_id);
    @Html.HiddenFor(Model => Model.file_path);

    <div class="form-horizontal">


        @Html.ValidationSummary(true,"",new { @class = "text-danger" })

        <input type="file" name="file" id="file" hidden="hidden" />
        <input type="file" name="foto" id="foto" hidden="hidden" />
        <div class="container" style="width:800px;max-width:100%;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.file_name,htmlAttributes: new { @class = "control-label col-md-offset-1",style = "margin-left: 15px;color: #000080;margin-bottom: 5px;" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.file_name,new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.file_name,"",new { @class = "text-danger valname" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.notes,htmlAttributes: new { @class = "control-label col-md-offset-1",style = "margin-left: 15px;color: #000080;margin-bottom: 5px;" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.notes,new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.notes,"",new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @{
                if(Model.is_photo==true)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @*@Html.TextBoxFor(model => model.foto,new { type = "file", name="foto" })*@
                                @*@Html.TextBoxFor(model => model.file,new { type = "file", name="file"})*@
                                <div class="col-md-12">
                                    <input type="button" style="width:100%;height:45px;" disabled="disabled" onclick="browse();" value="Unggah File" class="btn btn-info btn-new-file" />
                                    <div class="row" id="afoto">
                                        @{string Img = Uri.EscapeUriString(@Model.file_path);
                                            <img id="img-prev" style="object-fit:contain;margin:5px;" src=@Img />}
                                    </div>
                                    <input type="button" style="width:100%;height:45px;" onclick="browsefoto();" value="Unggah Foto" class="btn btn-info btn-new-foto" />
                                </div>
                            </div>
                            <div class="btn-group" style="width:100%">
                                <button type="button" class="btn btn-warning btn-batal-foto" style="width:50%;height:45px;"><b>Batal</b></button>
                                <button type="button" style="width:50%;height:45px;" class="btn btn-pp btn-save-foto"><b>Simpan</b></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="btn-group" style="width:100%">
                                        <button type="button" class="btn btn-warning btn-batal-file" style="width:50%;height:45px;"><b>Batal</b></button>
                                        <button type="button" disabled="disabled" style="width:50%;height:45px;" class="btn btn-pp btn-save-file"><b>Simpan</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @*@Html.TextBoxFor(model => model.foto,new { type = "file", name="foto" })*@
                                                            @*@Html.TextBoxFor(model => model.file,new { type = "file", name="file"})*@
                                                            <div class="col-md-12">
                                                                <input type="button" style="width:100%;height:45px;" onclick="browse();" value="Unggah File" class="btn btn-info btn-new-file" />
                                                                <div class="row" id="afoto">
                                                                    <span class="glyphicon glyphicon-user icon-foto"></span>
                                                                </div>
                                                                <input type="button" style="width:100%;height:45px;" onclick="browsefoto();" value="Unggah Foto" disabled="disabled" class="btn btn-info btn-new-foto" />
                                                            </div>
                                                        </div>
                                                        <div class="btn-group" style="width:100%">
                                                            <button type="button" class="btn btn-warning btn-batal-foto" style="width:50%;height:45px;"><b>Batal</b></button>
                                                            <button type="button" disabled="disabled" style="width:50%;height:45px;" class="btn btn-pp btn-save-foto"><b>Simpan</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" style="width:100%">
                                                                    <button type="button" class="btn btn-warning btn-batal-file" style="width:50%;height:45px;"><b>Batal</b></button>
                                                                    <button type="button" style="width:50%;height:45px;" class="btn btn-pp btn-save-file"><b>Simpan</b></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                                                        }
            }
        </div>
    </div>
                                    }

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var fileEmpty = true;
    var fotoEmpty = true;
    var isPhoto;
    //////////////////////////////////////
    $("#file_name").keyup(function ()
    {
        var change = $("#file_name").val();
        $("#file_name").val(change);
    });
    function browse() {
        $("#file").attr("accept", ".doc, .docx, .pdf, .jpg, .jpeg, .png");
        $("#file").trigger("click");
    }
    function browsefoto() {
        $("#foto").attr("accept", ".jpg, .jpeg, .png");
        $("#foto").trigger("click");
    }
    function cekFile() {
        var a = $("#file").get(0).files.length;
        console.log(a);
        if (a > 0) {
            fileEmpty = false;
        } else {
            fileEmpty = true;
        }
    }
    function cekFoto() {
        var a = $("#foto").get(0).files.length;
        console.log(a);
        if (a > 0) {
            fotoEmpty = false;
        } else {
            fotoEmpty = true;
        }
    }
    function readURL(input) {
        var reader = new FileReader();
        if (input.files && input.files[0]) {
            reader.onload = function (e) {
                $("#afoto").html('<img id="img-prev" style="object-fit:contain;margin:5px;" src="' + e.target.result + '" />')
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    //////////////////////////////////////
    $(document).ready(function () {
        isPhoto = $("#is_photo").val();
    });
    $(".btn-save-file").click(function () {
        cekFile();
        if (fileEmpty) {
            $("#is_photo").val(isPhoto);
        }  else {
            $("#is_photo").val(false);
            $(".valname").html(null)
            $("#foto").replaceWith($("#foto").val('').clone(true));
        }
        if ($("#file_name").val() == "" || $("#file_name").val().length < 1) {
            $(".valname").html("Nama tidak boleh kosong")
        } else {

            save();
        }
    });
    $(".btn-batal-file").click(function () {
        cekFile();
        if (fileEmpty) {
            $(".modal-layout").modal("hide");
            //$(".modal-pelamar").modal("show");
        } else {
            $(".btn-new-file").val("Unggah File");
            $("#file").replaceWith($("#file").val('').clone(true));
        }

    });
    $(".btn-save-foto").click(function () {
        cekFoto();
        if (fotoEmpty) {
            $("#is_photo").val(isPhoto);
        }else {
            $(".valname").html(null)
            $("#is_photo").val(true);
            $("#file").replaceWith($("#file").val('').clone(true));
        }
        if ($("#file_name").val() == "" || $("#file_name").val().length < 1) {
            $(".valname").html("Nama tidak boleh kosong")
        } else {

        save();
        }
    });
    $(".btn-batal-foto").click(function () {
        cekFoto();
        if (fotoEmpty) {
            $(".modal-layout").modal("hide");
            //$(".modal-pelamar").modal("show");
        } else {
            $(".btn-new-foto").val("Unggah Foto");
            $("#foto").replaceWith($("#foto").val('').clone(true));
            $("#afoto").html('<span class="glyphicon glyphicon-user icon-foto"></span>')
        }

    });
    $("#file").change(function () {
        //var extension = $(this).val().split('.').pop().toLowerCase();
        var name = $(this).val().split('\\').pop();
        //var validFileExtensions = ['doc', 'docx', 'pdf', 'jpg', 'jpeg', 'png'];
        //if ($.inArray(extension, validFileExtensions) == -1) {
        //    alert("Format file tidak di dukung");
        //    $(this).replaceWith($(this).val('').clone(true));
        //} else {
        //    if ($(this).get(0).files[0].size > (512000)) {
        //        alert("Ukuran file terlalu besar !\nMaksimal 500 kb");
        //        $(this).replaceWith($(this).val('').clone(true));
        //    } else {
        $(".btn-new-file").val("Unggah File : " + name);
        $("#file_name").val(name);
        //    }
        //}
    });
    $("#foto").change(function () {
        //var extension = $(this).val().split('.').pop().toLowerCase();
        var name = $(this).val().split('\\').pop();
        //var validFileExtensions = ['jpg', 'jpeg', 'png'];
        //if ($.inArray(extension, validFileExtensions) == -1) {
        //    alert("Format foto tidak di dukung");
        //    $(this).replaceWith($(this).val('').clone(true));
        //} else {
        //    if ($(this).get(0).files[0].size > (512000)) {
        //        alert("Ukuran foto terlalu besar !\nMaksimal 500 kb");
        //        $(this).replaceWith($(this).val('').clone(true));
        //    } else {
        $(".btn-new-foto").val("Unggah Foto : " + name);
        $("#file_name").val(name);
        readURL(this);
        //    }
        //}
    });

    function save() {
        //$("#is_photo").val(isPhoto);
        var form = document.getElementById('form-edit');
        var formData = new FormData(form);
        $.ajax({
            url: '@Url.Action("Edit","Dokumen")',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    alert("Dokumen berhasil diubah")
                    $(".modal-layout").modal("hide");
                    //$(".modal-pelamar").modal("show");
                    //GetDokumen();

                } else {
                    alert(result.message)
                }
            },
            error: function () {
                alert("Error: Dokumen tidak tersimpan")
            }
        });
        return false;
    };
    var a = 0;
    $('.modal-layout').on('hidden.bs.modal', function () {
        // Load up a new modal...
        $('.modal-pelamar').modal('show')
        if (a == 0)
        {
            $(this).removeData();
            a = 1;
            GetDokumen();
        }
    })
</script>
