@model ngxsis.ViewModel.PendidikanViewModel


@using (Html.BeginForm("Create", "Pendidikan", FormMethod.Post, new { id = "form-create", name = "form-create" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.school_name, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.school_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.school_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.education_level_id, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.education_level_id, (IEnumerable<SelectListItem>)ViewBag.PendidikanList, "Select Jenjang", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.education_level_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.entry_year, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.entry_year, new SelectList(Enumerable.Range(DateTime.Today.Year - 20, 21)),
                    "-Pilih-",
                    new { @class = "form-control", id = "valid-year" })
                            @Html.ValidationMessageFor(model => model.entry_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.graduation_year, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.graduation_year, new SelectList(Enumerable.Range(DateTime.Today.Year - 20, 21)),
                    "-Pilih-",
                    new { @class = "form-control", id = "valid-year" })
                            @Html.ValidationMessageFor(model => model.graduation_year, "", new { @class = "text-danger" })

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.major, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.major, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.major, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.gpa, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.gpa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.gpa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="btn-group col-md-offset-9">
                <input type="button" value="Batal" data-dismiss="modal" class="btn btn-batal" />
                <input type="submit" value="Simpan" class="btn btn-simpan" />

            </div>
        </div>
    </div>

}



@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
}

<script type="text/javascript">

    $("#form-create").submit(function () {

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Simpan Sukses Full school_name : " + result.entity.school_name);
                    $(".modal-utama").modal("hide");
                    GetList();
                    //} else {
                    //    alert("error" + result.message);
                    //}
                }
            }
        });
        //console.log(result.entity.certificate_name);
        return false;
    });

    //disable js

    //$(document).ready(function () {
    //    $('#valid-month').on('input change', function () {
    //        $('#until-month').attr('disabled', false);
    //    });
    //})

    //$(document).ready(function () {
    //    $('#valid-year').on('input change', function () {
    //        $('#until-year').attr('disabled', false);
    //    });
    //})
</script>


