@model ngxsis.ViewModel.KeteranganTambahanViewModel
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.biodata_id)

<link href="~/Content/LainLain.css" rel="stylesheet" />

<div class="container">
        <div class="row referensi">
            <h4 style="font-weight:bolder; color:#000080;  font-family:Arial;">
                Referensi <span style="font-size:10pt">(Dosen Pembimbing/Atasan sebelumnya yang dapat diminta keterangan diri)</span>
                <button type="button" id="btn-create-referensi" class="glyphicon glyphicon-plus-sign" style="background-color:#ffffff; border:none;" data-id="@Model.biodata_id" title="Tambah Referensi"></button>
            </h4>

            <div id="list-referensi"></div>
        </div>
            

        <div class="row">
            <h4 style="font-weight:bolder; color:#000080;  font-family:Arial;">
                Keterangan Tambahan
                <button type="button" id="btn-detail-tambahan" class="glyphicon glyphicon-search" style="background-color:#ffffff; border:none;" data-id="@Model.biodata_id" title="Detail"></button>
                <button type="button" id="btn-edit-tambahan" class="glyphicon glyphicon-edit" style="background-color:#ffffff; border:none;" data-id="@Model.biodata_id" title="Edit"></button>
            </h4>

            <div id="list-tambahan"></div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetListReferensi();
        GetListTambahan();
    });

    function GetListReferensi() {
        $.ajax({
            url: '@Url.Action("ListReferensi", "LainLain")',
            type: 'get',
            data: { idBiodata: @Model.biodata_id },
            success: function (result) {
                $("#list-referensi").html(result);
            }
        });
    };

    function GetListTambahan() {
        $.ajax({
            url: '@Url.Action("ListTambahanShort", "LainLain")',
            type: 'get',
            data: { idBiodata: @Model.biodata_id },
            success: function (result) {
                $("#list-tambahan").html(result);
            }
        });
    };

    $('#btn-detail-tambahan').click(function(){
        $.ajax({
            url: '@Url.Action("ListTambahan", "LainLain")',
            type: 'get',
            data: { idBiodata: @Model.biodata_id },
            success: function (result) {
                $(".modal-detail-tambahan .modal-title").html("Keterangan Tambahan");
                $(".modal-detail-tambahan .modal-body").html(result);
                $(".modal-pelamar").modal("hide");
                $(".modal-detail-tambahan").modal("show");
            }
        });
    });

    $('#btn-edit-tambahan').click(function(){
        $.ajax({
            url: '@Url.Action("EditTambahan", "LainLain")',
            type: 'get',
            data: { idBiodata: $(this).attr('data-id') },
            success: function (result) {
                $(".modal-create .modal-title").html("Ubah Keterangan Tambahan");
                $(".modal-create .modal-body").html(result);
                $(".modal-pelamar").modal("hide");
                $(".modal-create").modal("show");
            }
        });
    });

    $('#btn-create-referensi').click(function(){
        $.ajax({
            url: '@Url.Action("CreateReferensi", "LainLain")',
            type: 'get',
            success: function (result) {
                $(".modal-create .modal-title").html("Referensi");
                $(".modal-create .modal-body").html(result);
                $(".modal-pelamar").modal("hide");
                $(".modal-create").modal("show");
            }
        });
    });


</script>