<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/homecontent.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left:13px;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                            <h6 style="color:white">
                                <b>Menu 1</b>
                                <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kosong</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                            <h6 style="color:white">
                                <b>Menu 2</b>
                                <i class="glyphicon glyphicon-chevron-down"style="margin-left:20px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kosong</a></li>
                            <li><a href="#">Kosong</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                            <h6 style="color:white">
                                <b>Menu 3</b>
                                <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kosong</a></li>
                            <li><a href="#">Kosong</a></li>
                            <li><a href="#">Kosong</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                            <h6 style="color:white">
                                <i class="glyphicon glyphicon-bell" style="margin-right:10px;"></i>
                                <b>Hi, Kawan</b>
                                <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ubah Kata Sandi</a></li>
                            
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="row">
            <div class="layoutatas">
                <h1 id="judul" style="color:#000080; margin-top:10px;"><b>XSIS 2.0</b></h1>
            </div>
        </div>
        <div class="row" id="sidebar">
            <div class="col-md-3">
                <table style="width:230px; border:2px solid #000080; font-size:small;">
                    <tr>
                        <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link btn-sidebar"><span class="dot"></span><b style="text-align:center; margin-left:20px;">Menu 1</b></button></td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link btn-pelamar"><span class="dot"></span><b style="text-align:center; margin-left:20px;">Pelamar</b></button></td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000080;">
                            <button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link btn-dropdown">
                                <span class="dot"></span><b style="text-align:center; margin-left:20px;">Menu 3</b>
                                <i class="glyphicon glyphicon-chevron-down" style="float:right;"></i>
                            </button>
                            <div class="dropdown-container">
                                <div class="col-md-12" style="border: 2px solid #000080; border-right:5px; border-left:10px; padding-left:45px;
                                    padding-bottom:6px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 1</a>
                                </div>
                                <div class="col-md-12" style="padding-left:45px; padding-bottom:6px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 2</a>
                                </div>
                                <div class="col-md-12" style="border: 2px solid #000080; border-bottom:none; border-right:5px; border-left:10px;padding-left:45px;
                                    padding-bottom:5px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 3</a>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link btn-biodata"><span class="dot"></span><b style="text-align:center; margin-left:20px;">Menu 4</b></button></td>
                    </tr>

                    <tr>
                        <td style="border:2px solid #000080;">
                            <button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link btn-dropdown">
                                <span class="dot"></span><b style="text-align:center; margin-left:20px;">Menu 5</b>
                                <i class="glyphicon glyphicon-chevron-down" style="float:right;"></i>
                            </button>
                            <div class="dropdown-container">
                                <div class="col-md-12" style="border: 2px solid #000080; border-right:5px; border-left:10px; padding-left:45px;
                                    padding-bottom:6px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 1</a>
                                </div>
                                <div class="col-md-12" style="padding-left:45px; padding-bottom:6px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 2</a>
                                </div>
                                <div class="col-md-12" style="border: 2px solid #000080; border-bottom:none; border-right:5px; border-left:10px;padding-left:45px;
                                    padding-bottom:5px; padding-top:6px; padding-right:12px;">
                                    <a href="#">Link 3</a>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
            <div class="content col-md-9" id="data-home">

            </div>
        </div>        
        <hr />
        <footer>
            <p align="center" style="color:#000080; padding-left:50px;"><b> @DateTime.Now.Year - Xsis Mitra Utama</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    $(".btn-pelamar").click(function () {
        $.ajax(
            {
                url: '@Url.Action("PelamarList", "Pelamar")',
                  type: 'get',
                    success: function (result) {
                    $("#data-home").html(result);
                }
            });

    });
    //asc||dsc||rowpage
     var page;
        var search;
        var desc;
        var maxPage;
        var dataPerPage;
        $(document).ready(function () {
            page = 0;
            search = "";
            desc = 0;
            dataPerPage = 10;
            GetList();
        });

        function GetList() {
            var itemCount = 0;
            $.ajax(
            {
                url: '@Url.Action("PelamarList", "Pelamar")',
                type: 'get',
                data: { search: search, desc: desc , page: page, dataPerPage: dataPerPage },
                success: function (result) {
                    $("#data").html(result);
                    $("#txt-search").val(search);

                    $("#data").find("tbody").find("tr").each(function (item) {
                        itemCount = itemCount + 1;
                    });
                    if (itemCount < dataPerPage) {
                        maxPage = page;
                    } else {
                        maxPage = page + 1;
                    }
                }
            });
        }

    var dropdown = document.getElementsByClassName("btn-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

