@model IEnumerable<ngxsis.ViewModel.OrganisasiViewModel>

<table class="table">
    <tr>
        <th>
            NAMA
        </th>
        <th>
            JABATAN
        </th>
        <th>
            PERIODE
        </th>
        <th>
            #
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entry_year) s.d. @Html.DisplayFor(modelItem => item.exit_year)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-container="@item.id" class="btn-edit">Ubah</a></li>
                        <li><a href="#" data-container="@item.id" class="btn-delete">Hapus</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Organisasi")',
            type: 'get',
            data: { id: $(this).attr("data-container") },
            success: function (result) {
                $(".modal-title").html("Ubah Organisasi");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Organisasi")',
            type: 'get',
            data: { id: $(this).attr("data-container") },
            success: function (result) {
                $(".modal-title").html("Hapus Organisasi?");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });
</script>