@model IEnumerable<ngxsis.ViewModel.KeluargaViewModel>
<link rel="stylesheet" href="~/content/sertifikasi.css" />
<h2>
    <font color="#000080">
        <b>Keluarga</b>
        <button type="button" class="btn btn-primary btn-create-a" title="Create New" id="btn-create-new">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

        </button>
    </font>
</h2>
<div id="data-list">
    <!--data-list  harus sama dg yg di javascript jquery--->

</div>

<table class="table table-striped" style="border-bottom: 2px solid #000080; color: #000080; ">
    <thead style="border-bottom: 5px solid #000080; border-top :5px solid #000080;">
        <tr>
            <th>
                HUBUNGAN
            </th>
            <th>
                NAMA
            </th>
            <th>
                JK
            </th>
            <th>
                TGL. LAHIR
            </th>
            <th>
                PENDIDIKAN
            </th>
            <th>
                PEKERJAAN
            </th>
            <th>
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.family_relation_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

                @*@Html.DisplayFor(modelItem => item.gender)*@
                @{
                    if (item.gender)
                    {
                        <td>L</td>
                    }
                    else
                    {
                        <td>P</td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.dob)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.education_level_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job)
                </td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue">More</button>
                        <button type="button" class="btn  dropdown-toggle btn-blue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="btn-edit" data-container="@item.id">Edit</a></li>
                            <li><a href="#" class="btn-delete" data-container="@item.id">Delete</a></li>


                        </ul>
                    </div>

                </td>
            </tr>
                    }
    </tbody>
</table>

<script type="text/javascript">



    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit","Keluarga")',
            type: 'get',
            data: { id: $(this).attr("data-container") },// attr = atribut
            //

            success: function (result) {
                $(".modal-create-sertifikasi .modal-title").html("Edit Keluarga");
                $(".modal-create-sertifikasi .modal-body").html(result);
                $(".modal-pelamar").modal("hide");
                $(".modal-create-sertifikasi").modal("show");
                $("#datepicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            }
        });

    });
</script>


<script type="text/javascript">
    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Keluarga")',
            type: 'get',
            data: { id: $(this).attr("data-container") },

            success: function (result) {
                $(".modal-delete .modal-title").html("Hapus Keluarga");
                $(".modal-delete .modal-body").html(result);
                $(".modal-delete").modal("show");
            }
        });

    });

    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Keluarga")',
            type: 'get',
            success: function (result) {
                $(".modal-create-sertifikasi .modal-title").html("Tambah Keluarga");
                $(".modal-create-sertifikasi .modal-body").html(result);
                $(".modal-pelamar").modal("hide");
                $(".modal-create-sertifikasi").modal("show");
                $("#datepicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            }
        });

    });



    //data id di javascript buat button kalau di a href pakai data-container

</script>

@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@