@model ngxsis.ViewModel.BiodataViewModel
<link rel="stylesheet" href="~/Content/CreateBio.css">

@using (Html.BeginForm("Edit", "Pelamar", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.user_id, new { Value = Session["userID"] })
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container" style="font-weight:100; color:#000080;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.nick_name, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.nick_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nick_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.pob, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.pob, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.pob, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class='input-group date'>
                                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", id = "datepicker", style = "border-right:none;", data_val_date = String.Format("Silahkan Isi Format Tanggal dengan Benar!") } })
                                <span class="input-group-addon" style="border: 2px solid #000080;border-left:none; background:none;">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-7">
                            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.gender, new List<SelectListItem>
                           {
                                new SelectListItem { Value = "true", Text = "Pria" },
                                new SelectListItem { Value = "false", Text = "Wanita" },
                                },
                                " - Pilih - ", htmlAttributes: new { @class = "form-control", id = "gender" })

                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.religion_id, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.religion_id, (IEnumerable<SelectListItem>)ViewBag.religionList, " - Pilih - ",
               new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.religion_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>




            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.high, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.high, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.high, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-8">
                            @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.ethnic, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ethnic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ethnic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.hobby, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.hobby, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.hobby, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-9">
                            @Html.LabelFor(model => model.identity_type_id, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.identity_type_id, (IEnumerable<SelectListItem>)ViewBag.identityList, " - Pilih - ",
                 new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.identity_type_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.identity_no, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.identity_no, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.identity_no, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>




            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">

                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.phone_number1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.phone_number1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone_number1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-9">
                            @Html.LabelFor(model => model.phone_number2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.phone_number2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone_number2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.parent_phone_number, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.parent_phone_number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.parent_phone_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>




            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.child_sequence, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.child_sequence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.child_sequence, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.how_many_brothers, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.how_many_brothers, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.how_many_brothers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-10">
                            @Html.LabelFor(model => model.marital_status_id, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.marital_status_id, (IEnumerable<SelectListItem>)ViewBag.maritalList, " - Pilih - ",
                 new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">

                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.marriage_year, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.marriage_year, new SelectList(Enumerable.Range(DateTime.Today.Year - 20, 21).Reverse()),
                  "- Pilih Tahun -",
                  new { @class = "form-control", id = "marriage_year" })
                            @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4 style="font-weight:bold;">Alamat Sesuai Kartu Identitas</h4>
                    <hr style="border-bottom-style:solid;border-bottom-width:3px; color:#000080; margin-top:-6px" />
                </div>
                <div class="col-md-6">
                    <h4 style="font-weight:bold;">Alamat Sesuai Tempat Tinggal Saat Ini</h4>
                    <hr style="border-bottom-style:solid;border-bottom-width:3px; color:#000080; margin-top:-6px" />
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.address1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.address2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.postal_code1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.postal_code1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.postal_code1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-13">
                            @Html.LabelFor(model => model.rt1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-14">
                            @Html.EditorFor(model => model.rt1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rt1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.rw1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.rw1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rw1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-6">
                            @Html.LabelFor(model => model.postal_code2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.postal_code2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.postal_code2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-13">
                            @Html.LabelFor(model => model.rt2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-14">
                            @Html.EditorFor(model => model.rt2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rt2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.rw2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.rw2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rw2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.kelurahan1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.kelurahan1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kelurahan1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.kecamatan1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.kecamatan1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kecamatan1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.region1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.region1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.region1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.kelurahan2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.kelurahan2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kelurahan2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.kecamatan2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.kecamatan2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kecamatan2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div style="font-size:small;" class="col-md-12">
                            @Html.LabelFor(model => model.region2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.region2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.region2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="form-actions col-md-4 pull-right col-md-offset-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-150px" data-dismiss="modal"><b>Batal</b></button>
                    <button type="button" id="submit" class="btn btn-pp btn-150px "><b>Simpan</b></button>

                </div>
            </div>
        </div>
    </div>
}




@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
      $("#submit").click(function () {
          simpan();

    });

     function simpan()
    {
        $("#form-edit").valid();
        setTimeout(validateForm, 100);
    }
    function validateForm()
    {

        $("#form-edit").validate();
        if ($("#form-edit").valid()) {
            console.log("valid" + $("#form-edit").valid());
            submited = false;
        } else
        {
            console.log("invalid")
            submited = true;
        }

        if (submited) {
            console.log("submited true");
        } else {
            $.ajax(
            {
                url: '@Url.Action("Edit","Pelamar")',
                type: 'post',
                data: $("#form-edit").serialize(),
                success: function (result) {
                    if (result.success) {
                        console.log("submited false, submited true")
                      alert("Data Pelamar " + result.entity.fullname + " Berhasil Diubah");
                        $(".modal-object").modal("hide");
                        GetListP();
                        submited = true;
                    } else {
                        //alert("Role tidak berhasil dibuat\n" + result.message);
                    }
                }
            });
        }

        return false;


    }
</script>