@model IEnumerable<ngxsis.ViewModel.RoleViewModel>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group" style="width:60%;">
            <input type="text" id="txt-search" class="form-control" placeholder="Cari">
            <span class="input-group-btn">
                <button class="btn btn-clear" style="color:#000080;margin-left:-35px;padding:0px 10px 2px 0px;background-color:transparent;font-size:20px;" type="button"><b>&times;</b></button>
                <button class="btn btn-pp btn-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
    <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <div class="btn-group btn-trans" style="margin-left:12px;" role="group" aria-label="...">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle btn-trans  btn-lg " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right btn-link-a">
                        <li class="dropdown-header dh">Order</li>
                        <li><a href="javascript:void(0)" class="btn-link sort-asc">Ascending</a></li>
                        <li><a href="javascript:void(0)" class="btn-link sort-desc">Descending</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle btn-trans  btn-lg " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu btn-link-a">
                        <li class="dropdown-header dh">Row Per Page</li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="10">10</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="20">20</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="30">30</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="40">40</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="50">50</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-trans btn-lg btn-create-new"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
    </div>
<hr style="border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #000080;
    margin-bottom:3px;
    margin-top:0px" />
<hr style="border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000080;
    margin-top:10px;" />

<table class="table table-striped">
    <thead>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th><b>#</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td class="text-left">
                    <div>
                        @Html.DisplayFor(modelItem => item.Code)

                    </div>
                </td>
                <td class="text-left">
                    <div>
                        @Html.DisplayFor(modelItem => item.Name)

                    </div>
                </td>
                <td>
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-primary btn-pp"><b>More</b></button>
                        <button type="button" class="btn dropdown-toggle btn-pp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu btn-link-a">
                            <li><a href="javascript:void(0)" class="btn-link-ubah" data-container="@item.Id">Ubah</a></li>
                            <li><a href="javascript:void(0)" class="btn-link-hapus" data-container="@item.Id">Hapus</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><button type="button" class="btn btn-primary btn-sm btn-pill pull-right" onclick="min()"><b>&#8592; Previous</b></button></td>
            <td><button type="button" class="btn btn-primary btn-sm btn-pill pull-left" onclick="plus()"><b>Next &#8594;</b></button></td>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
    maxPage = @Html.Raw(Json.Encode(ViewBag.MaxPage));
    function GetSearch() {
        $.ajax(
            {
                url: '@Url.Action("RoleList", "Role")',
                type: 'get',
                data: { search: search, desc: desc, page: page, dataPerPage: dataPerPage },
                success: function (result) {
                    $("#data").html(result);
                    $("#txt-search").val(search);
                }
            });
    }

    $(".btn-list").click(function ()
    {
        page=0;
        dataPerPage = $(this).attr("data-container");
        maxPage = @Html.Raw(Json.Encode(ViewBag.MaxPage));
        GetList();
    });

    function min () {
        if (page > 0) {
            page = page - 1;
        }
        console.log(page);
        GetList();
    };

    function plus () {
        if (page < maxPage) {
            page = page + 1;
        }
        console.log(page);
        GetList();
    };
    $(".btn-search").click(function () {
        desc = 0;
        page = 0;
        search = $("#txt-search").val();
        GetList();
    });
    $(".sort-asc").click(function () {
        desc = 0;
        page = 0;
        GetList();
    });
    $(".sort-desc").click(function () {
        desc = 1;
        page = 0;
        GetList();
    });

    $(".btn-clear").click(function () {
        page = 0;
        dataPerPage=10;
        search="";
        GetList();
    });

    $(".btn-create-new").click(function () {
        //alert("Ubah diklik "+$(this).attr("data-container"))

        $.ajax(
            {
                url: '@Url.Action("Create", "Role")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Tambah Role");
                    $(".modal-body").html(result);
                    $(".modal-main").modal("show");
                }
            });

    });

    $(".btn-link-ubah").click(function () {
        //alert("Ubah diklik "+$(this).attr("data-container"))

        $.ajax(
            {
                url: '@Url.Action("Edit", "Role")',
                type: 'get',
                data: { Id: $(this).attr("data-container") },
                success: function (result) {
                    $(".modal-title").html("Ubah Role");
                    $(".modal-body").html(result);
                    $(".modal-main").modal("show");
                }
            });


    });
    $(".btn-link-hapus").click(function () {
        //alert("Hapus diklik "+$(this).attr("data-container"))

        $.ajax(
            {
                url: '@Url.Action("Delete", "Role")',
                type: 'get',
                data: { id: $(this).attr("data-container") },
                success: function (result) {
                    $(".modal-delete .modal-title").html("Hapus Role ?");
                    $(".modal-delete .modal-body").html(result);
                    $(".modal-delete").modal("show");
                }
            });

    });
</script>